In [1]:
import pandas as pd

In [2]:
# Load the dataset
file_path = 'C:/Users/luis/Desktop/Carrer Foundry boot camp/Advanced Analytics & Dashboard Design/Data/Original Data/UFC data.csv'
ufc_data = pd.read_csv(file_path)

In [4]:
ufc_data.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenBantamweight,0.125,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0

# Step 1: Handling Missing Values

In [5]:
# Fill missing values for numeric columns with the median
numeric_cols = ufc_data.select_dtypes(include=['float64', 'int64']).columns
ufc_data[numeric_cols] = ufc_data[numeric_cols].fillna(ufc_data[numeric_cols].median())

In [6]:
# Fill missing values for categorical columns with the mode
categorical_cols = ufc_data.select_dtypes(include=['object']).columns
ufc_data[categorical_cols] = ufc_data[categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

# Step 2: Ensuring Data Type Consistency

In [7]:
# Converting 'date' column to datetime format
ufc_data['date'] = pd.to_datetime(ufc_data['date'])

# Step 3: Removing Duplicate Record

In [8]:
ufc_data = ufc_data.drop_duplicates()

In [9]:
# Checking the data again for any remaining missing values
remaining_missing_values = ufc_data.isnull().sum().sum()

In [10]:
# Display the cleaned dataframe summary
ufc_data.info(), remaining_missing_values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012 entries, 0 to 6011
Columns: 144 entries, R_fighter to R_age
dtypes: bool(1), datetime64[ns](1), float64(106), int64(28), object(8)
memory usage: 6.6+ MB

(None, 0)

In [11]:
# Check unique values in 'location' column
unique_locations = ufc_data['location'].unique()
print("Unique Locations:")
print(unique_locations)

Unique Locations:
['Las Vegas, Nevada, USA' 'Abu Dhabi, Abu Dhabi, United Arab Emirates'
 'Jacksonville, Florida, USA' 'Brasilia, Distrito Federal, Brazil'
 'Norfolk, Virginia, USA' 'Auckland, New Zealand'
 'Rio Rancho, New Mexico, USA' 'Houston, Texas, USA'
 'Raleigh, North Carolina, USA' 'Busan, South Korea' 'Washington, DC, USA'
 'Sao Paulo, Sao Paulo, Brazil' 'Moscow, Moscow, Russia'
 'New York City, New York, USA' 'Kallang, Singapore'
 'Boston, Massachusetts, USA' 'Tampa, Florida, USA'
 'Melbourne, Victoria, Australia' 'Copenhagen, Denmark'
 'Mexico City, Distrito Federal, Mexico'
 'Vancouver, British Columbia, Canada' 'Shenzhen, Guangdong, China'
 'Anaheim, California, USA' 'Montevideo, Uruguay'
 'Newark, New Jersey, USA' 'Edmonton, Alberta, Canada'
 'San Antonio, Texas, USA' 'Sacramento, California, USA'
 'Minneapolis, Minnesota, USA' 'Greenville, South Carolina, USA'
 'Chicago, Illinois, USA' 'Stockholm, Sweden' 'Rochester, New York, USA'
 'Rio de Janeiro, Rio de Janeiro, Brazil' 'Ottawa, Ontario, Canada'
 'Sunrise, Florida, USA' 'Saint Petersburg, Saint Petersburg, Russia'
 'Atlanta, Georgia, USA' 'Philadelphia, Pennsylvania, USA'
 'Nashville, Tennessee, USA' 'London, England, United Kingdom'
 'Wichita, Kansas, USA' 'Prague, Czech Republic' 'Phoenix, Arizona, USA'
 'Fortaleza, Ceara, Brazil' 'Brooklyn, New York, USA'
 'Los Angeles, California, USA' 'Milwaukee, Wisconsin, USA'
 'Toronto, Ontario, Canada' 'Adelaide, South Australia, Australia'
 'Beijing, China' 'Buenos Aires, Buenos Aires, Argentina'
 'Denver, Colorado, USA' 'Moncton, New Brunswick, Canada'
 'Dallas, Texas, USA' 'Lincoln, Nebraska, USA' 'Calgary, Alberta, Canada'
 'Hamburg, Hamburg, Germany' 'Boise, Idaho, USA' 'Utica, New York, USA'
 'Liverpool, England, United Kingdom' 'Santiago, Chile'
 'Atlantic City, New Jersey, USA' 'Glendale, Arizona, USA'
 'Orlando, Florida, USA' 'Austin, Texas, USA'
 'Perth, Western Australia, Australia' 'Belem, Para, Brazil'
 'Charlotte, North Carolina, USA' 'St. Louis, Missouri, USA'
 'Winnipeg, Manitoba, Canada' 'Fresno, California, USA'
 'Detroit, Michigan, USA' 'Shanghai, Hebei, China'
 'Sydney, New South Wales, Australia' 'Gdansk, Poland'
 'Saitama, Saitama, Japan' 'Pittsburgh, Pennsylvania, USA'
 'Rotterdam, Zuid-Holland, Netherlands' 'Uniondale, New York, USA'
 'Glasgow, Scotland, United Kingdom' 'Oklahoma City, Oklahoma, USA'
 'Kansas City, Missouri, USA' 'Buffalo, New York, USA'
 'Halifax, Nova Scotia, Canada' 'Albany, New York, USA'
 'Belfast, Northern Ireland, United Kingdom'
 'Manchester, England, United Kingdom' 'Portland, Oregon, USA'
 'Hidalgo, Texas, USA' 'Cleveland, Ohio, USA' 'Salt Lake City, Utah, USA'
 'Sioux Falls, South Dakota, USA' 'Curitiba, Parana, Brazil'
 'Zagreb, Croatia' 'Brisbane, Queensland, Australia' 'Seoul, South Korea'
 'Monterrey, Nuevo Leon, Mexico' 'Dublin, Leinster, Ireland'
 'Saitama, Japan' 'Saskatoon, Saskatchewan, Canada'
 'San Diego, California, USA' 'Hollywood, Florida, USA'
 'Berlin, Berlin, Germany' 'New Orleans, Louisiana, USA'
 'Goiania, Goias, Brazil' 'Manila, Philippines' 'Montreal, Quebec, Canada'
 'Krakow, Poland' 'Fairfax, Virginia, USA' 'Rio de Janeiro, Brazil'
 'Porto Alegre, Rio Grande do Sul, Brazil' 'Broomfield, Colorado, USA'
 'Barueri, Sao Paulo, Brazil' 'Uberlandia, Minas Gerais, Brazil'
 'Ledyard, Connecticut, USA' 'Tulsa, Oklahoma, USA' 'Macau, China'
 'Bangor, Maine, USA' 'San Jose, California, USA'
 'Albuquerque, New Mexico, USA' 'Sao Paulo, Brazil' 'Berlin, Germany'
 'Cincinnati, Ohio, USA' 'Baltimore, Maryland, USA'
 'Quebec City, Quebec, Canada' 'Abu Dhabi, United Arab Emirates'
 'Natal, Rio Grande do Norte, Brazil'
 'Jaragua do Sul, Santa Catarina, Brazil' 'Duluth, Georgia, USA'
 'Singapore, Singapore' 'Fort Campbell, Kentucky, USA'
 'Belo Horizonte, Minas Gerais, Brazil' 'Indianapolis, Indiana, USA'
 'Seattle, Washington, USA' 'Gold Coast, Queensland, Australia'
 'Nottingham, England, United Kingdom' 'East Rutherford, New Jersey, USA'
 'Omaha, Nebraska, USA' 'Birmingham, England, United Kingdom'
 'Louisville, Kentucky, USA' 'Killeen, Texas, USA'
 'Auburn Hills, Michigan, USA'
 'Oberhausen, North Rhine-Westphalia, Germany' 'Oakland, California, USA'
 'Memphis, Tennessee, USA' 'Cologne, North Rhine-Westphalia, Germany'
 'Columbus, Ohio, USA' 'Fayetteville, North Carolina, USA'
 'Rosemont, Illinois, USA' 'Newcastle, England, United Kingdom'
 'Uncasville, Connecticut, USA' 'Miami, Florida, USA'
 'Bossier City, Louisiana, USA' 'Tokyo, Japan' 'Cedar Rapids, Iowa, USA'
 'Lake Charles, Louisiana, USA' 'Chiba, Japan' 'Birmingham, Alabama, USA'
 'Bay St. Louis, Mississippi, USA' 'Mobile, Alabama, USA'
 'Yokohama, Kanagawa, Japan' 'Augusta, Georgia, USA'
 'Dothan, Alabama, USA' 'San Juan, Puerto Rico' 'Casper, Wyoming, USA']

In [12]:
# Create a mapping of incorrect to correct location names
location_corrections = {
    'Rio de Janeiro, Brazil': 'Rio de Janeiro, Rio de Janeiro, Brazil',
    'Sao Paulo, Brazil': 'Sao Paulo, Sao Paulo, Brazil',
    'Berlin, Germany': 'Berlin, Berlin, Germany',
    'Shanghai, Hebei, China': 'Shanghai, China',
    'Abu Dhabi, United Arab Emirates': 'Abu Dhabi, Abu Dhabi, United Arab Emirates'
}

# Apply the corrections to the 'location' column
ufc_data['location'] = ufc_data['location'].replace(location_corrections)

# Verify the corrections
unique_locations_corrected = ufc_data['location'].unique()
print("Corrected Unique Locations:")
print(unique_locations_corrected)

Corrected Unique Locations:
['Las Vegas, Nevada, USA' 'Abu Dhabi, Abu Dhabi, United Arab Emirates'
 'Jacksonville, Florida, USA' 'Brasilia, Distrito Federal, Brazil'
 'Norfolk, Virginia, USA' 'Auckland, New Zealand'
 'Rio Rancho, New Mexico, USA' 'Houston, Texas, USA'
 'Raleigh, North Carolina, USA' 'Busan, South Korea' 'Washington, DC, USA'
 'Sao Paulo, Sao Paulo, Brazil' 'Moscow, Moscow, Russia'
 'New York City, New York, USA' 'Kallang, Singapore'
 'Boston, Massachusetts, USA' 'Tampa, Florida, USA'
 'Melbourne, Victoria, Australia' 'Copenhagen, Denmark'
 'Mexico City, Distrito Federal, Mexico'
 'Vancouver, British Columbia, Canada' 'Shenzhen, Guangdong, China'
 'Anaheim, California, USA' 'Montevideo, Uruguay'
 'Newark, New Jersey, USA' 'Edmonton, Alberta, Canada'
 'San Antonio, Texas, USA' 'Sacramento, California, USA'
 'Minneapolis, Minnesota, USA' 'Greenville, South Carolina, USA'
 'Chicago, Illinois, USA' 'Stockholm, Sweden' 'Rochester, New York, USA'
 'Rio de Janeiro, Rio de Janeiro, Brazil' 'Ottawa, Ontario, Canada'
 'Sunrise, Florida, USA' 'Saint Petersburg, Saint Petersburg, Russia'
 'Atlanta, Georgia, USA' 'Philadelphia, Pennsylvania, USA'
 'Nashville, Tennessee, USA' 'London, England, United Kingdom'
 'Wichita, Kansas, USA' 'Prague, Czech Republic' 'Phoenix, Arizona, USA'
 'Fortaleza, Ceara, Brazil' 'Brooklyn, New York, USA'
 'Los Angeles, California, USA' 'Milwaukee, Wisconsin, USA'
 'Toronto, Ontario, Canada' 'Adelaide, South Australia, Australia'
 'Beijing, China' 'Buenos Aires, Buenos Aires, Argentina'
 'Denver, Colorado, USA' 'Moncton, New Brunswick, Canada'
 'Dallas, Texas, USA' 'Lincoln, Nebraska, USA' 'Calgary, Alberta, Canada'
 'Hamburg, Hamburg, Germany' 'Boise, Idaho, USA' 'Utica, New York, USA'
 'Liverpool, England, United Kingdom' 'Santiago, Chile'
 'Atlantic City, New Jersey, USA' 'Glendale, Arizona, USA'
 'Orlando, Florida, USA' 'Austin, Texas, USA'
 'Perth, Western Australia, Australia' 'Belem, Para, Brazil'
 'Charlotte, North Carolina, USA' 'St. Louis, Missouri, USA'
 'Winnipeg, Manitoba, Canada' 'Fresno, California, USA'
 'Detroit, Michigan, USA' 'Shanghai, China'
 'Sydney, New South Wales, Australia' 'Gdansk, Poland'
 'Saitama, Saitama, Japan' 'Pittsburgh, Pennsylvania, USA'
 'Rotterdam, Zuid-Holland, Netherlands' 'Uniondale, New York, USA'
 'Glasgow, Scotland, United Kingdom' 'Oklahoma City, Oklahoma, USA'
 'Kansas City, Missouri, USA' 'Buffalo, New York, USA'
 'Halifax, Nova Scotia, Canada' 'Albany, New York, USA'
 'Belfast, Northern Ireland, United Kingdom'
 'Manchester, England, United Kingdom' 'Portland, Oregon, USA'
 'Hidalgo, Texas, USA' 'Cleveland, Ohio, USA' 'Salt Lake City, Utah, USA'
 'Sioux Falls, South Dakota, USA' 'Curitiba, Parana, Brazil'
 'Zagreb, Croatia' 'Brisbane, Queensland, Australia' 'Seoul, South Korea'
 'Monterrey, Nuevo Leon, Mexico' 'Dublin, Leinster, Ireland'
 'Saitama, Japan' 'Saskatoon, Saskatchewan, Canada'
 'San Diego, California, USA' 'Hollywood, Florida, USA'
 'Berlin, Berlin, Germany' 'New Orleans, Louisiana, USA'
 'Goiania, Goias, Brazil' 'Manila, Philippines' 'Montreal, Quebec, Canada'
 'Krakow, Poland' 'Fairfax, Virginia, USA'
 'Porto Alegre, Rio Grande do Sul, Brazil' 'Broomfield, Colorado, USA'
 'Barueri, Sao Paulo, Brazil' 'Uberlandia, Minas Gerais, Brazil'
 'Ledyard, Connecticut, USA' 'Tulsa, Oklahoma, USA' 'Macau, China'
 'Bangor, Maine, USA' 'San Jose, California, USA'
 'Albuquerque, New Mexico, USA' 'Cincinnati, Ohio, USA'
 'Baltimore, Maryland, USA' 'Quebec City, Quebec, Canada'
 'Natal, Rio Grande do Norte, Brazil'
 'Jaragua do Sul, Santa Catarina, Brazil' 'Duluth, Georgia, USA'
 'Singapore, Singapore' 'Fort Campbell, Kentucky, USA'
 'Belo Horizonte, Minas Gerais, Brazil' 'Indianapolis, Indiana, USA'
 'Seattle, Washington, USA' 'Gold Coast, Queensland, Australia'
 'Nottingham, England, United Kingdom' 'East Rutherford, New Jersey, USA'
 'Omaha, Nebraska, USA' 'Birmingham, England, United Kingdom'
 'Louisville, Kentucky, USA' 'Killeen, Texas, USA'
 'Auburn Hills, Michigan, USA'
 'Oberhausen, North Rhine-Westphalia, Germany' 'Oakland, California, USA'
 'Memphis, Tennessee, USA' 'Cologne, North Rhine-Westphalia, Germany'
 'Columbus, Ohio, USA' 'Fayetteville, North Carolina, USA'
 'Rosemont, Illinois, USA' 'Newcastle, England, United Kingdom'
 'Uncasville, Connecticut, USA' 'Miami, Florida, USA'
 'Bossier City, Louisiana, USA' 'Tokyo, Japan' 'Cedar Rapids, Iowa, USA'
 'Lake Charles, Louisiana, USA' 'Chiba, Japan' 'Birmingham, Alabama, USA'
 'Bay St. Louis, Mississippi, USA' 'Mobile, Alabama, USA'
 'Yokohama, Kanagawa, Japan' 'Augusta, Georgia, USA'
 'Dothan, Alabama, USA' 'San Juan, Puerto Rico' 'Casper, Wyoming, USA']

In [13]:
# Check unique values in 'weight_class' column
unique_weight_classes = ufc_data['weight_class'].unique()
print("\nUnique Weight Classes:")
print(unique_weight_classes)

Unique Weight Classes:
['Bantamweight' 'Middleweight' 'Heavyweight' 'WomenStrawweight'
 'WomenBantamweight' 'Lightweight' 'Welterweight' 'Flyweight'
 'LightHeavyweight' 'Featherweight' 'WomenFlyweight' 'WomenFeatherweight'
 'CatchWeight' 'OpenWeight']

In [14]:
# Creating a mapping of corrections for weight class names
weight_class_corrections = {
    'WomenStrawweight': "Women's Strawweight",
    'WomenBantamweight': "Women's Bantamweight",
    'LightHeavyweight': 'Light Heavyweight',
    'WomenFlyweight': "Women's Flyweight",
    'WomenFeatherweight': "Women's Featherweight",
    'CatchWeight': 'Catchweight',
    'OpenWeight': 'Openweight'
}

# Apply the corrections to the 'weight_class' column
ufc_data['weight_class'] = ufc_data['weight_class'].replace(weight_class_corrections)

# Verify the corrections by displaying unique values
corrected_unique_weight_classes = ufc_data['weight_class'].unique()
print("Corrected Unique Weight Classes:")
print(corrected_unique_weight_classes)

Corrected Unique Weight Classes:
['Bantamweight' 'Middleweight' 'Heavyweight' "Women's Strawweight"
 "Women's Bantamweight" 'Lightweight' 'Welterweight' 'Flyweight'
 'Light Heavyweight' 'Featherweight' "Women's Flyweight"
 "Women's Featherweight" 'Catchweight' 'Openweight']

In [15]:
ufc_data.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500000,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,0.015625,0.0,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,Women's Strawweight,0.015625,0.0,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,Women's Bantamweight,0.125000,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0

In [17]:
# Perform descriptive analysis on numerical columns
numerical_summary = ufc_data.describe()

# Display the summary of numerical columns
print("Descriptive Statistics for Numerical Columns:")
print(numerical_summary)

Descriptive Statistics for Numerical Columns:
                                date     B_avg_KD  B_avg_opp_KD  \
count                           6012  6012.000000   6012.000000
mean   2013-11-23 12:14:07.904191744     0.192444      0.134849
min              1994-03-11 00:00:00     0.000000      0.000000
25%              2011-01-01 00:00:00     0.000000      0.000000
50%              2014-12-13 00:00:00     0.015625      0.000000
75%              2018-02-18 00:00:00     0.250000      0.093750
max              2021-03-20 00:00:00     5.000000      3.000000
std                              NaN     0.344948      0.293306

       B_avg_SIG_STR_pct  B_avg_opp_SIG_STR_pct  B_avg_TD_pct  \
count        6012.000000            6012.000000   6012.000000
mean            0.452524               0.432678      0.282526
min             0.000000               0.000000      0.000000
25%             0.401389               0.376250      0.100000
50%             0.450000               0.427500      0.250000
75%             0.500000               0.480000      0.395674
max             1.000000               1.000000      1.000000
std             0.113933               0.115847      0.239639

       B_avg_opp_TD_pct  B_avg_SUB_ATT  B_avg_opp_SUB_ATT    B_avg_REV  ...  \
count       6012.000000    6012.000000        6012.000000  6012.000000  ...
mean           0.252425       0.400457           0.335484     0.119529  ...
min            0.000000       0.000000           0.000000     0.000000  ...
25%            0.082500       0.000000           0.000000     0.000000  ...
50%            0.200000       0.148468           0.098389     0.000000  ...
75%            0.330000       0.500000           0.500000     0.031250  ...
max            1.000000       8.000000           7.000000     4.000000  ...
std            0.235145       0.647886           0.586091     0.306005  ...

       R_win_by_Decision_Split  R_win_by_Decision_Unanimous  R_win_by_KO/TKO  \
count              6012.000000                  6012.000000      6012.000000
mean                  0.306886                     1.251331         1.297572
min                   0.000000                     0.000000         0.000000
25%                   0.000000                     0.000000         0.000000
50%                   0.000000                     1.000000         1.000000
75%                   0.000000                     2.000000         2.000000
max                   5.000000                    10.000000        11.000000
std                   0.619485                     1.681376         1.859955

       R_win_by_Submission  R_win_by_TKO_Doctor_Stoppage  R_Height_cms  \
count          6012.000000                   6012.000000   6012.000000
mean              0.796241                      0.069195    178.992685
min               0.000000                      0.000000    152.400000
25%               0.000000                      0.000000    172.720000
50%               0.000000                      0.000000    180.340000
75%               1.000000                      0.000000    185.420000
max              13.000000                      2.000000    210.820000
std               1.355801                      0.273980      8.810120

       R_Reach_cms  R_Weight_lbs        B_age        R_age
count  6012.000000   6012.000000  6012.000000  6012.000000
mean    183.516267    170.686128    29.284764    29.591983
min     152.400000    115.000000    18.000000    19.000000
25%     177.800000    145.000000    26.000000    27.000000
50%     182.880000    170.000000    29.000000    29.000000
75%     190.500000    185.000000    32.000000    32.000000
max     213.360000    345.000000    51.000000    47.000000
std      10.223017     35.718685     4.005039     4.146304

[8 rows x 135 columns]

In [18]:
# Export the cleaned dataset to a CSV file
cleaned_file_path = 'C:/Users/luis/Desktop/Carrer Foundry boot camp/Advanced Analytics & Dashboard Design/Data/Prepared Data/UFC data cleaned 6.1.csv'
ufc_data.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset exported to {cleaned_file_path}")

Cleaned dataset exported to C:/Users/luis/Desktop/Carrer Foundry boot camp/Advanced Analytics & Dashboard Design/Data/Prepared Data/UFC data cleaned 6.1.csv

In [19]:
# Export the cleaned dataset to XLSX file
cleaned_file_path_xlsx = 'C:/Users/luis/Desktop/Carrer Foundry boot camp/Advanced Analytics & Dashboard Design/Data/Prepared Data/UFC data cleaned 6.1.xlsx'
ufc_data.to_excel(cleaned_file_path_xlsx, index=False)

print(f"Cleaned dataset exported to {cleaned_file_path_xlsx}")

Cleaned dataset exported to C:/Users/luis/Desktop/Carrer Foundry boot camp/Advanced Analytics & Dashboard Design/Data/Prepared Data/UFC data cleaned 6.1.xlsx